<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body>
<%- body %>
<%- partial('_partial/scripts') %>
<%- partial('_partial/live2d') %>
</body>
<script src="/live2d/autoload.js"></script>
</html>
