.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current(href="/")= __('Home')
      else
        a(href="/")= __('Home')
    li
      a(href="https://afdian.net/@HuaHuo-CN")= __('Afdian')
    li
      if is_archive()
        a.current(href="/archives/")= __('Archive')
      else
        a(href="/archives/")= __('Archive')
    li
      if is_current('links')
        a.current(href="/links/")= __('Links')				
      else
        a(href="/links/")= __('Links')
    li
      if is_current('favorites')
        a.current(href="/favorites/")= __('Favorites')
      else
        a(href="/favorites/")= __('Favorites')
    li
      if is_current('search')
        a.current(href="/search/")=("搜索")
      else
        a(href="/search/")=("搜索")
    li
      a(href="https://status.huahuo-cn.tk")="Status"
  .information
    .back_btn
      li
        a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;") 
    .avatar
      a(href="http://wpa.qq.com/msgrd?v=3&uin=2549619802&site=qq&menu=no")
        img(src=theme.avatar)