<footer id="footer">
    <div id="footer-wrap">
        <div>
            &copy;
            <%= theme.footer.since %> - <%= date(Date.now(), "YYYY") %> <%= config.title %>
            <span id="footer-icon">
                <i class="fa-solid fa-font-awesome fa-fw"></i>
            </span>
            &commat;<%= config.author %>
        </div>
        <div>
            Powered by <a href="https://hexo.io">Hexo</a> &amp;
            <a href="https://github.com/theme-particlex/hexo-theme-particlex">ParticleX Theme</a>
        </div>
        <% if (theme.footer.ICP.enable) { %>
            <div>
                备案号：
                <% if (theme.footer.ICP.link) { %>
                    <a href="<%= theme.footer.ICP.link %>">
                        <%= theme.footer.ICP.code %>
                    </a>
                <% } else { %>
                    <%= theme.footer.ICP.code %>
                <% } %>
            </div>
        <% } %>
        
        <a href="https://ipw.cn/ipv6webcheck/?site=blog.ovome.icu" title="本站支持IPv6访问" target='_blank'><img style='display:inline-block;vertical-align:middle' alt="本站支持IPv6访问" src="https://static.ipw.cn/icon/ipv6-s4.svg"></a>
        <div title="MySSL 安全签章" id="myssl_seal" onclick="window.open('https://myssl.com/seal/detail?domain=blog.ovome.icu','MySSL安全签章','height=800,width=470,top=0,right=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no')" style="text-align: center"><img src="https://sealres.myssl.com/seal/img/2x/seal.svg?domain=blog.ovome.icu" alt="MySSL 安全签章" style="width: 130px; height: auto; cursor: pointer"></div>
    </div>
</footer>
