<div id="home-head">
    <div id="home-background" ref="homeBackground" data-images="<%- theme.background.map(url_for) %>"></div>
    <div id="home-info" @click="homeClick">
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="info">
            <div class="wrap">
                <h2><%= config.title %></h2>
                <h3 id="hitokoto"></h3>
            </div>
        </span>
    </div>
</div>
<div id="home-posts-wrap" <%- theme.card.enable || 'class="home-posts-wrap-no-card"' %> ref="homePostsWrap">
    <div id="home-posts">
        <%- partial("posts") %>
        <%- partial("current") %>
    </div>
    <% if (theme.card.enable) { %>
    <div id="home-card">
        <%- partial("card") %>
    </div>
    <% } %>
</div>
