<% var rootlink = config.root; %>
<div id="post-header-background" style="background-image: url(<%- theme.home_background %>)"></div>
<div class="article">
    <div class="infblock">
        <div>
            <h1><%= titlecase(page.title) %> </h1>
        </div>
        <div class="info">
            <span class="date">
                <span class="icon">
                    <svg class="fa-icon"><use xlink:href="#calendar-solid"></use></svg>
                </span>
                <%= date(page.date, "YYYY/M/D") %>
            </span>
            <% if (page.categories && page.categories.data.length != 0) { %>
            <span class="category">
                <a href="<%- rootlink %><%- page.categories.data[0].path %>">
                    <span class="icon">
                        <svg class="fa-icon"><use xlink:href="#bookmark-solid"></use></svg>
                    </span>
                    <%= page.categories.data[0].name %>
                </a>
            </span>
            <% } %>
            <% if (page.tags && page.tags.data.length != 0) { %>
            <span class="tags">
                <span class="icon">
                    <svg class="fa-icon"><use xlink:href="#tags-solid"></use></svg>
                </span>
                <% page.tags.data.forEach(function(data) {%>
                <span class="tag">
                    <% 
                        var color = ["color: #ffa2c4", "color: #00bcd4", "color: #03a9f4", "color: #00a596", "color: #ff7d73"];
                        var num = Math.floor(Math.random() * color.length);
                    %>
                    <a href="<%- rootlink %><%- data.path %>" style="<%- color[num] %>">
                        <%= data.name %>
                    </a>
                </span>
               <% }); %>
            </span>
            <% } %>
        </div>
    </div>
    <div class="content" v-pre>
        <%- page.content %>
    </div>
    <% if (theme.gitalk.enable) { %>
    <link rel="stylesheet" href="https://cdn.staticfile.org/gitalk/1.7.2/gitalk.min.css">
    <div id="comment">
        <div id="gitalk-container"></div>
    </div>
    <% } %>
    <% if (theme.postbottom.enable) { %>
    <div class="pb-license">
        <p class="url">
            文章地址：<a href="<%= encodeURI(config.url + "/" + page.path) %>"><%= config.url %>/<%= page.path %></a>
        </p>
        <span><%= theme.postbottom.text %></span><input type="button" class="copyUrl" onClick='copyUrl()' value="复制地址"><br>
        <span>详情请见：<a href="<%= theme.postbottom.license.url %>"><%= theme.postbottom.license.name %></a></span>
    </div>

    <script>
    function copyUrl(){
        var object = document.querySelector(".copyUrl");
        var clipBoardContent = encodeURI("<%= config.url %>/<%= page.path %>");
        object.select();
        navigator.clipboard.writeText(clipBoardContent);
        object.value = "复制成功";
        setTimeout(function () { object.value = "复制地址" }, 1000);
    }
    </script>
    <% } %>
    <% if (theme.waline.enable) { %>
    <link rel="stylesheet" href="https://cdn.staticfile.org/waline/2.14.4/waline.min.css" />
    <div id="comment">
        <div id="waline-container"></div>
    </div>
    <% } %>
</div>